h1 {
  font-size: 1.3em;
  color: #4c1bc0;
  margin: 0;
}

p {
  font-size: 1em;
}

.main {
  display: flex;
  flex-direction: column;
  grid-area: main;
  padding: 0.5em;
  margin-top: 2rem;
  justify-content: center;
}

.main p {
  color: #758bfd;
}

.section-one {
  display: flex;
  flex-direction: column;
  justify-content: center;
  grid-area: section-one;
  width: 400px;
  margin: 0 1rem;
}

.section-two {
  display: flex;
  flex-direction: column;
  justify-content: center;
  grid-area: section-two;
  margin-bottom: 0 1rem;
}

.form-control {
  padding: 0.5rem;
  display: flex;
  justify-content: left;
}

.form-control label {
  font-size: 0.7em;
  width: 30%;
}

input[type="date"] {
  color: #4c1bc0;
  margin: 0 1em;
  font-size: 0.8em;
}

.pageselector {
  width: 2rem;
  height: 2rem;
  display: flex;
  gap: 1rem;
}

a {
  text-decoration: none;
}
