.card {
    
    border-radius: 6px;
    box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.2);
    padding: 1em;
    margin-bottom: 0.2em;
    color: #4C1BC0;
}

.card ul {
    margin: 0;
    padding: 0;
    list-style-type: none;  
}

.card li:not(:last-child){
    margin-bottom: 1em;
}

.title {    
    border-bottom: 2px solid #AEB8FE;
    
}
