.form button {
  width: 100%;
  background: orange;
  border: transparent;
  border-radius: 1em;
  padding: 0.2em;
  color: white;
}

.form button:hover {
  background: rgb(255, 179, 37);
  cursor: pointer;
}

.control {
  margin-bottom: 0.8rem;
}

.control input {
  width: 300px;
  font-size: 0.7em;
  border: 1px solid #e5e8ee;
  border-radius: 1em;
  padding: 0.5em 1em;
}

.control input:focus-visible {
  outline: 2px solid #e5e8ee;
}

.control input,
button {
  font-family: inherit;
}
